{{- $IsList := .IsList -}}
{{- $Page := .Page -}}
<div class="article-details">
    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ $Page.RelPermalink }}">
                {{- $Page.Title -}}
            </a>
        </h2>

        {{ with $Page.Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ $showCategory := $Page.Params.categories }}
    {{ $showDate := not $Page.Date.IsZero }}
    {{ $showTranslations := $Page.IsTranslated }}
    {{ $showTags := and $Page.Site.Params.Article.List.ShowTags ($Page.GetTerms "tags") $IsList }}

    <footer class="article-meta">
        <div class="inline-meta">
            {{ if $showCategory }}
            <header class="article-category">
                {{ range ($Page.GetTerms "categories") }}
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ end }}
            </header>
            {{ end }}

            {{ if $showDate }}
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published" datetime='{{ $Page.Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                    {{- $Page.Date | time.Format $Page.Site.Params.dateFormat.published -}}
                </time>
            {{ end }}

            {{ if $showTranslations }}
                {{ partial "helper/icon" "language" }}
                {{ range $Page.Translations }}
                    <a href="{{ .RelPermalink }}" class="link">{{ .Language.LanguageName }}</a>
                {{ end }}
            {{ end }}

            {{ if $showTags }}
                {{ partial "helper/icon" "tag" }}
                {{ range ($Page.GetTerms "tags") }}
                    <a href="{{ .RelPermalink }}" class="link">{{ .LinkTitle }}</a>
                {{ end }}
            {{ end }}
        </div>
    </footer>
</div>
